Repository NeonRayTracer-org/KATS: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier-tslint fix

.lintstagedrc:

{
  "*.{json,css,md}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["prettier-tslint fix", "git add"]
}

feat(datamodel): add datamodel
  database/enums.prisma
  database/page/page.prisma
  database/page/pageContent.prisma
  database/page/pageLng.prisma
  database/post/post.prisma
  database/project/album.prisma
  database/project/project.prisma
  database/project/projectCategory.prisma
  database/user/user.prisma
Due: none

feat(typings): add typings
  src/db-types.ts
  typings/cloudinary.d.ts
  typings/globals.d.ts
  typings/whitelistSettings.d.ts
Due: prettier-tslint fix

feat(app): add server & nexus schema-gen
  src/index.ts
  src/schema.ts
Due: prettier-tslint fix

feat(utility): add utility functions
  src/util/authError.ts
  src/util/generateSignature.ts
  src/util/getUserId.ts
  src/util/incrementByN.ts
  src/util/initCors.ts
  src/util/requestIsUser.ts
  src/util/requestUserIsAdmin.ts
Due: prettier-tslint fix

feat(settings): add settings
  src/settings/cloudinary.settings.ts
  src/settings/common.settings.ts
  src/settings/index.ts
  src/settings/whitelist.settings.ts
Due: prettier-tslint fix

feat(rules): add rules
  src/rules/general.ts
  src/rules/index.ts
  src/rules/post.ts
  src/rules/project.ts
  src/rules/projectCategory.ts
  src/rules/user.ts
Due: prettier-tslint fix

feat(resolvers): add resolvers
  src/resolvers/AuthPayload.ts
  src/resolvers/index.ts
  src/resolvers/mutations/index.ts
  src/resolvers/mutations/post/likePost.ts
  src/resolvers/mutations/user/userCreate.ts
  src/resolvers/mutations/user/userLogin.ts
  src/resolvers/queries/index.ts
  src/resolvers/queries/post/feed.ts
  src/resolvers/queries/post/index.ts
  src/resolvers/queries/post/postBySlug.ts
  src/resolvers/queries/post/postsAll.ts
  src/resolvers/queries/post/postsByIsPublished.ts
  src/resolvers/queries/post/postsByUser.ts
  src/resolvers/queries/project/category/projectCategoriesAll.ts
  src/resolvers/queries/project/category/projectCategoryById.ts
  src/resolvers/queries/project/category/projectCategoryBySlug.ts
  src/resolvers/queries/project/index.ts
  src/resolvers/queries/project/projectById.ts
  src/resolvers/queries/project/projectBySlug.ts
  src/resolvers/queries/project/projectsAll.ts
  src/resolvers/queries/user/index.ts
  src/resolvers/queries/user/me.ts
Due: prettier-tslint fix

feat(generated): add generated prisma- & nexus-client + schemas
  generated/nexus-prisma/datamodel-info.ts
  generated/nexus-prisma/index.ts
  generated/nexus-prisma/nexus-prisma.ts
  generated/nexus.ts
  generated/prisma-client/index.ts
  generated/prisma-client/prisma-schema.ts
  generated/prisma-schema.graphql
  generated/schema.graphql
Due: prettier-tslint fix

Add renovate.json
  renovate.json
Due: prettier --write

build(deps): add renovate.json
  renovate.json
Due: prettier --write

chore(deps): pin dependencies
  package-lock.json
  package.json
Due: prettier --write

build(semantic-release): add semantic release
  package.json
Due: prettier --write

ci(circleci): add initial CircleCI configuration
  .circleci/config.yml
Due: none

chore(deps): pin dependency semantic-release to 15.13.3
  package-lock.json
  package.json
Due: prettier --write

fix(tslint): dont lint any generated files
  src/resolvers/queries/post/feed.ts
  src/resolvers/queries/post/postsAll.ts
  tslint.json
Due: prettier --write, prettier-tslint fix

fix(semantic-versioning): add config file + deps
  package-lock.json
  package.json
  release.config.js
Due: prettier --write

feat(generated): add generated prisma- & nexus-client + schemas
  generated/nexus-prisma/datamodel-info.ts
  generated/nexus-prisma/index.ts
  generated/nexus-prisma/nexus-prisma.ts
  generated/nexus.ts
  generated/prisma-client/index.ts
  generated/prisma-client/prisma-schema.ts
  generated/prisma-schema.graphql
  generated/schema.graphql
  src/resolvers/queries/post/feed.ts
  src/resolvers/queries/post/postsAll.ts
Due: prettier-tslint fix

fix: add missing configurations to project
  package-lock.json
  package.json
  release.config.js
  renovate.json
  tslint.json
Due: prettier --write

Release 1.0.0 - Apr 1, 2019, 2:15 PM [skip ci]
  CHANGELOG.md
Due: prettier --write

docs(readme): add badges to readme
  README.md
Due: prettier --write

docs: add Contributing & Code of Conduct
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: prettier --write

chore(deps): update dependency tslint to v5.15.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update babel monorepo to v7.4.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update prismagraphql/prisma docker tag to v1.31
  docker-compose.yml
Due: none

fix(process.env): env vars can only be string, split string on ,
  src/index.ts
  typings/globals.d.ts
Due: prettier-tslint fix

build(npm): use .env file instead of setting vars in package.json
  .env.example
  package.json
Due: prettier --write

fix(resolvers): fix nullable setting on resolvers
  generated/nexus.ts
  generated/schema.graphql
  src/resolvers/mutations/user/userLogin.ts
  src/resolvers/queries/project/category/projectCategoriesAll.ts
Due: prettier-tslint fix

docs: fix some typos
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: prettier --write

ci(circleci): fix node_modules cache & use npm ci
  .circleci/config.yml
Due: none

ci(semantic-release): fix package.json version not getting updated
  release.config.js
Due: none

Release 1.0.1 - Apr 5, 2019, 9:42 AM [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(deps): roll back dependency pm2 to 3.4.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v3.4.2
  package-lock.json
  package.json
Due: prettier --write
